html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
}

body {
  display: grid;
  grid-template-columns: 256px 1fr 48px;
  grid-template-rows: auto 1fr auto;
}

header.app {
  grid-column: 1/4;
  grid-row: 1/2;
  z-index: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
  display: grid;
  grid-template-columns: repeat(3, min-content);
  column-gap: 8px;
  padding: 8px;
}

header.app .hamburger {
  margin: 8px;
}

header.app .logo {
  width: 40px;
  border-radius: 8px;
  margin: auto;
}

header.app h1 {
  font-weight: normal;
  font-size: 24px;
  display: inline;
  margin: 8px;
}

nav.app {
  grid-column: 1/2;
  grid-row: 2/3;
  padding: 16px 0 16px 16px;
}

nav.app a {
  display: block;
  text-decoration: none;
  font-size: 14px;
  padding: 4px;
  color: dimgray;
  padding: 4px 4px 4px 16px;
  border-radius: 12px 0 0 12px;
}

nav.app a.selected {
  background-color: whitesmoke;
}

main.app {
  grid-column: 2/4;
  grid-row: 2/3;
  overflow: auto;
  background-color: whitesmoke;
}

section.cards header {
  position: sticky;
  top: 0;
  background: whitesmoke;
}

section.cards header button {
  background: none;
  outline: none;
  border: none;
}

section.cards .card {
  display: grid;
  width: 344px;
  border-radius: 4px;
  margin: 16px;
  transition: all 0.2s ease-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  background: whitesmoke;
  height: 56px;
  box-sizing: border-box;
  overflow: hidden;
}

section.cards .card:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

section.cards .card.probably {
  background: honeydew;
}

section.cards .card.maybe {
  background: white;
}

section.cards .card.testing {
  height: fit-content;
}

section.cards .card.unknown {
  background: ivory;
}

footer.app {
  grid-column: 1/4;
  grid-row: 3/4;
  padding: 4px;
  font-size: 14px;
  color: dimgray;
  z-index: 1;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.2);
}

article.course {
  width: 302px;
  background-color: white;
  border-radius: 4px;
  padding: 16px;
  margin: 16px;
  transition: all 0.2s ease-out;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

article.course:hover {
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

article.course header h1 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
  margin-bottom: 4px;
}

article.course header h2 {
  font-weight: normal;
  font-size: 14px;
  color: darkgray;
  margin: 0;
  margin-bottom: 16px;
}

article.course section.supporting {
  font-size: 14px;
  color: dimgray;
}

article.course nav button {
  cursor: pointer;
  border: none;
  padding: 0;
  color: firebrick;
  margin: 16px 0 0;
  font-size: 15px;
}

article.course nav button:focus {
  outline: none;
}